.carousel-inner img {
    max-height: 600px; /* 根據需要調整 */
    object-fit: cover;
}

:root {
  bs-primary: #D3D3D3; /* 你想要的顏色 */

}


.color1 {
    color: #0081bb;
   

.fs14 {
    font-size: 14px;
    font-size: .875rem;
}

.color-dark {
    color: #151d3b;
}

.title01 {
    font-size: 26px;
    font-size: 1.625rem;
}

.color-light {
    color: #777;
}

.body (

font-size: .9375rem;

)

.product-image {
    max-width: 400px;
    height: auto;
  }


  .product-image {
  max-height: 280px;
  object-fit: cover;
}
.card-body p {
  font-size: 0.95rem;
  line-height: 1.6;
}


.product-card {
      display: flex;
      flex-direction: column;
    }

    @media (min-width: 768px) {
      .product-card {
        flex-direction: row;
      }
    }

    .product-image-container {
      width: 100%;
    }

    @media (min-width: 768px) {
      .product-image-container {
        width: 40%; /* 控制圖片寬度，避免太寬 */
      }
    }

    .product-image {
      object-fit: cover;
      width: 60%;
      height: 100%;
      max-height: 300px;
    }

    .product-text {
      width: 60%;
      padding: 1rem;
    }

    @media (min-width: 768px) {
      .product-text {
        width: 60%; /* 保留文字區域的寬度 */
      }
    }

    .navbar-toggler-icon {
  background-color: #ffffff; /* 白色按鈕圖示 */
}
